<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="public/css/table.css">-->
<!--    <link rel="stylesheet" href="public/css/navbar.css">-->
</head>
<body>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" th:fragment="navbar2">
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option1" autocomplete="off" checked=""> Active
        </label>
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="option2" autocomplete="off"> Radio
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Radio
        </label>
    </div>
</body>
</html>