
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Users</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
</head>
<body>
<a href="?lang=en">en</a>
<a href="?lang=ru">ru</a>
<a href="/" th:text="#{label.home}"></a>
<div id = "all_users">
    <h2 th:text="#{label.data}"></h2>
</div>
<div id = "content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{label.user.age}"></th>
            <th th:text="#{label.user.height}"></th>
            <th th:text="#{label.user.weight}"></th>
            <th th:text="#{label.user.lifestyle}"></th>
        </tr>
        </thead>

        <tbody>
        <tr >
            <td><span th:text="${current_user?.age}">  </span></td>
            <td><span th:text="${current_user?.height}"></span></td>
            <td><span th:text="${current_user?.weight}"></span></td>
            <td><span th:text="${current_user?.lifestyle}"></span></td>

        </tr>
        </tbody>
    </table>
    <a href="/add_user_info/select_recent">Select recent data</a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:45px">
                    <div class="panel-heading" th:text="#{label.userInfo.add}">
                    </div>

                    <div class="panel-body">
                        <form th:action = "@{/add_user_info}" method="post">

                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                            <div class="form-group">
                                <label for="age" th:text="#{label.user.age}"></label>
                                <input type="number" class="form-control" id="age" th:placeholder="#{label.user.age}"
                                       name="age" required min="0" max="120">
                            </div>
                            <div class="form-group">
                                <label for="height" th:text="#{label.user.height}"></label>
                                <input type="number" class="form-control" id="height" th:placeholder="#{label.user.height}"
                                       name="height" required min="0">
                            </div>
                            <div class="form-group">
                                <label for="weight" th:text="#{label.user.weight}"></label>
                                <input type="number" class="form-control" id="weight" th:placeholder="#{label.user.weight}"
                                       name="weight" required min="0">
                            </div>
                            <div class="form-group">
                                <label for="lifestyle" th:text="#{label.user.lifestyle}"></label>
                                <input type="text" class="form-control" id="lifestyle" th:placeholder="#{label.user.lifestyle}"
                                       name="lifestyle" required>
                            </div>

                            <button type="submit" class="btn btn-default" th:text="#{button.add}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    $.post( "ajax/test.html", function( data ) {
        $( ".result" ).html( data );
    });
</script>
</html>