
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
    <link th:href="@{public/css/style.css}" th:rel="stylesheet">
    <style>
        table tr th:first-child{
            color:#0d47a1;
        }
        table tr th:nth-child(2){
            color: #1de9b6;
        }
    </style>
</head>
<body>
<div class="bg" style="background-image: url('public/images/cool-bg2.jpg')">
    <div th:replace="/fragments/navbar"></div>

    <div id = "content">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th th:text="#{title.calories.all}"></th>
                <th th:text="${all_calories}"></th>
            </tr>
            <tr th:if="${calories_to_loose}">
                <th th:text="#{title.calories.loose}"></th>
                <th th:text="${calories_to_loose}"></th>
            </tr>
            <tr th:if="${min_walk_low_temp}">
                <th th:text="#{title.minutes} + #{title.msg.walk} + #{title.msg.in} + #{title.msg.temp.low}"></th>
                <th th:text="${min_walk_low_temp}"></th>
            </tr>
            <tr th:if="${min_walk_medium_temp}">
                <th th:text="#{title.minutes} + #{title.msg.walk} + #{title.msg.in} + #{title.msg.temp.medium}"></th>
                <th th:text="${min_walk_medium_temp}"></th>
            </tr>
            <tr th:if="${min_walk_high_temp}">
                <th th:text="#{title.minutes} + #{title.msg.walk} + #{title.msg.in} + #{title.msg.temp.high}"></th>
                <th th:text="${min_walk_high_temp}"></th>
            </tr>
            <tr th:if="${calories_to_gain}">
                <th th:text="#{title.calories.gain}"></th>
                <th th:text="${calories_to_gain}"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>