
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
    <link th:href="@{public/css/style.css}" th:rel="stylesheet">
</head>
<body>
<div class="bg" style="background-image: url('public/images/cool-bg1.jpg')">
<div th:replace="/fragments/navbar"></div>
<div id = "all_users">
    <h2 th:text="#{title.all.dishes}"></h2>
</div>
<div id = "content" class="text-white">
    <table class="table table-hover">
        <thead>
            <tr>
                <th th:text="#{label.dish.name}"></th>
                <th th:text="#{label.dish.id}"></th>
                <th th:text="#{label.dish.protein}"></th>
                <th th:text="#{label.dish.calories}"></th>
                <th th:text="#{label.dish.fat}"></th>
                <th th:text="#{label.dish.carbs}"></th>
                <th th:text="#{label.dish.portion}"></th>
            </tr>
        </thead>

        <tbody th:if="${dishes}">

            <tr th:each="dish: ${dishes}">
                    <td><span th:text="${dish.name}"> </span></td>
                    <td><span th:text="${dish.id}"> </span></td>
                    <td><span th:text="${dish.protein}"> </span></td>
                    <td><span th:text="${dish.calories}"> </span></td>
                    <td><span th:text="${dish.fat}">  </span></td>
                    <td><span th:text="${dish.carbs}">  </span></td>
                    <td th:if="${dish.portion != null}"><span th:text="#{${dish.portion.name()}}">  </span></td>
                    <td>
                       <a th:if="${role.equals('ADMIN')}" th:href="@{/dishes/delete/{id}(id=${dish.id})}"  > Delete </a>
                        <!--                    <form th:action = "@{/dishes/${dish.id}/delete}" th:object="${dish_dto}" method="post">-->
<!--                            <input type="hidden" th:field="${dish_dto.dish_id}">Delete</input>-->
<!--                            <button type="submit"  th:value="${dish.id}" class="btn btn-danger" th:text="#{label.button.delete}" ></button>-->
                    </td>
            </tr>
        </tbody>
    </table>
    <div id = "special_dishes">
        <h2 th:text="#{title.special.dishes}"></h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{label.dish.name}"></th>
            <th th:text="#{label.dish.id}"></th>
            <th th:text="#{label.dish.protein}"></th>
            <th th:text="#{label.dish.calories}"></th>
            <th th:text="#{label.dish.fat}"></th>
            <th th:text="#{label.dish.carbs}"></th>
            <th th:text="#{label.dish.portion}"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${special_dishes != null}" th:each="dish: ${special_dishes}">
            <td><span th:text="${dish.name}"> </span></td>
            <td><span th:text="${dish.id}"> </span></td>
            <td><span th:text="${dish.protein}"> </span></td>
            <td><span th:text="${dish.calories}"> </span></td>
            <td><span th:text="${dish.fat}">  </span></td>
            <td><span th:text="${dish.carbs}">  </span></td>
            <td><span th:text="#{${dish.portion.name()}}">  </span></td>
            <td>
                <a th:href="@{/dishes/delete/{id}(id=${dish.id})}"  > Delete </a>
                <!--                    <form th:action = "@{/dishes/${dish.id}/delete}" th:object="${dish_dto}" method="post">-->
                <!--                            <input type="hidden" th:field="${dish_dto.dish_id}">Delete</input>-->
                <!--                            <button type="submit"  th:value="${dish.id}" class="btn btn-danger" th:text="#{label.button.delete}" ></button>-->
            </td>
        </tr>

        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:45px">
                    <div class="panel-heading" th:text="#{label.dish.add}">
                    </div>

                    <div class="panel-body">
                        <form th:action = "@{/dishes}" th:object="${checkBox}" method="post">
                            <p th:if="${message}" class="alert alert-info" role="alert" th:text="'Dish already exists'"></p>
                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden" required>
                            <div class="form-group">
                                <label for="name" th:text="#{label.dish.name}"></label>
                                <input type="text" class="form-control" id="name" th:placeholder="#{label.dish.name}"
                                       name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="calories" th:text="#{label.dish.calories}"></label>
                                <input type="number" class="form-control" id="calories" th:placeholder="#{label.dish.calories}"
                                       name="calories" required>
                            </div>
                            <div class="form-group">
                                <label for="protein" th:text="#{label.dish.protein}"></label>
                                <input type="number" class="form-control" id="protein" th:placeholder="#{label.dish.protein}"
                                       name="protein" required>
                            </div>
                            <div class="form-group">
                                <label for="fat" th:text="#{label.dish.fat}"></label>
                                <input type="number" class="form-control" id="fat" th:placeholder="#{label.dish.fat}"
                                       name="fat" required>
                            </div>
                            <div class="form-group">
                                <label for="carbs" th:text="#{label.dish.carbs}"></label>
                                <input type="number" class="form-control" id="carbs" th:placeholder="#{label.dish.carbs}"
                                       name="carbs" required>
                            </div>

                            <div class="form-group">
                                <label for="portion" th:text="#{label.dish.portion}"></label>
                                <select  id="portion" class="form-control-range" name="portion">
                                    <!--                                    <option value="">Select dishes</option>-->
                                    <option th:each="portion_: ${portions}"  th:value="${portion_.name()}"  th:text="#{${portion_.name()}}" ></option>
                                </select>
                            </div>

                            <div th:if="${role.equals('ADMIN')}" class="form-group">
                                <label for="checkbox" th:text="#{label.local.dish}"></label>
                                <input type="checkbox" id="checkbox" th:field="*{boolValue}" name="chBox">
                            </div>

                            <button type="submit" class="btn btn-outline-warning" th:text="#{button.add}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>