
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{public/css/style.css}" th:rel="stylesheet">
</head>
<body>

    <div class="bg" style="background-image: url('public/images/road.jpg')">
        <div th:replace="/fragments/navbar"></div>
<!--        <div th:replace="/fragments/header"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="blue_" th:text="#{title.hello.world}"> </h1>
                    <h1 class="yellow" th:text="#{text.logged.with}"></h1>
                    <h2 class="pink-red" th:text="${login}"></h2>
                    <h2 class="pink-red" th:text="${role}"></h2>
                </div>
            </div>
        </div>
        <a th:if="${role == 'ROLE_ADMIN'}" href="/all_users"  th:text="#{label.users}" ></a>
<!--        <a  href="/dishes"  th:text="#{label.dishes}" ></a> &lt;!&ndash; th:if="${role == 'ROLE_ADMIN'}" &ndash;&gt;-->
<!--        <a href="/add_user_info" th:text="#{title.add.user-info}"></a>-->
<!--        <a href="/select_dishes" th:text="#{title.add.dishes}"></a>-->
    </div>
</body>
</html>