<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <!--Made with love by Mutiullah Samim -->

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" th:href="@{public/css/cool-login.css}">
<!--  <link th:href="@{public/css/style.css}" th:rel="stylesheet">-->

</head>
<body>
<div th:replace="/fragments/languages"> </div>
<div class="container" >
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="height: auto">
      <div class="card-header">
        <h3 th:text="#{label.auth}">Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-circle" >
            <img src="/public/images/logo.jpg" width="60" height="60" alt="" style="border-radius: 25px;">
          </i></span>
<!--          <span><i class="fab fa-google-plus-square"></i></span>-->
<!--          <span><i class="fab fa-twitter-square"></i></span>-->
        </div>
      </div>
      <div class="card-body">
        <p th:if="${error}" th:text="#{alert.wrong.login.or.password}"  class="alert alert-danger" role="alert"></p>
        <p th:if="${logout}"  th:text="#{alert.successful.logout}"  class="alert alert-info" role="alert"></p>

        <form th:action ="@{/login}" method="post">
          <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="username" th:placeholder="#{label.placeholder.username}"
                   name="username">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" id="password" th:placeholder="#{label.placeholder.password}"
                   name="password">
          </div>
          <!--<div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>-->
          <div class="form-group">
            <input type="submit" th:value="#{label.auth.in}" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links" >
          <div th:text="#{dont.have.account.q}"></div>
          <a href="/registration" th:text="#{button.registration}"></a>
        </div>
        <!--<div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>-->
      </div>
    </div>
  </div>
</div>
</body>
</html>