<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{public/css/style.css}" th:rel="stylesheet">
    <title>Login</title>
</head>
<body>
<div class="bg" style="background-image: url('public/images/dark-bg9.jpg')">
    <div th:replace="/fragments/languages"> </div>
    <div class="container text-white">

    <!--    <a href="?lang=en">en</a>-->
    <!--    <a href="?lang=ru">ru</a>-->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:45px">
                    <div class="panel-heading">
                        <h3 th:text="#{header.login.panel}" class="panel-title" ></h3>
                    </div>
                    <div class="panel-body" >
                        <p th:if="${error}" th:text="#{alert.wrong.login.or.password}"  class="alert alert-info" role="alert"></p>
                        <p th:if="${logout}"  th:text="#{alert.successful.logout}"  class="alert alert-info" role="alert"></p>
                        <form th:action ="@{/login}" method="post">
                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                            <div class="form-group">
                                <label th:text="#{label.login}" for="username"></label>
                                <input type="text" class="form-control" id="username" th:placeholder="#{label.placeholder.username}"
                                       name="username">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.password}"  for="password"></label>
                                <input type="password" class="form-control" id="password" th:placeholder="#{label.placeholder.password}"
                                       name="password">
                            </div>
                            <a href="/registration"  class="btn btn-info" th:text="#{button.registration}" ></a>
                            <button type="submit" class="btn btn-success"  th:text="#{button.login}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>