
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
    <link th:href="@{public/css/style.css}" th:rel="stylesheet">
</head>
<body>
<div class="bg" style="background-image: url('public/images/wrongPath_bg-6.jpg')">
<div th:replace="/fragments/navbar"></div>
<div id = "all_users">
    <h2 th:text="#{title.all.dishes}"></h2>
</div>
<div id = "content">

    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{label.dish.name}"></th>

            <th th:text="#{label.dish.protein}"></th>
            <th th:text="#{label.dish.calories}"></th>
            <th th:text="#{label.dish.fat}"></th>
            <th th:text="#{label.dish.carbs}"></th>
            <th th:text="#{label.dish.portion}"></th>

        </tr>
        </thead>

        <tbody>

            <tr th:each="dish: ${dishes}">
                <td><span th:text="${dish.name} + ${dish.user != null ? '(own)' :''}"> Id </span></td>

                <td><span th:text="${dish.protein}"> Password </span></td>
                <td><span th:text="${dish.calories}"> Active </span></td>
                <td><span th:text="${dish.fat}"> Roles </span></td>
                <td><span th:text="${dish.carbs}"> Roles </span></td>
                <td><span th:text="#{${dish.portion.name()}}">  </span></td>
            </tr>
        </tbody>
    </table>
    <a href="/" th:text="#{title.calculate.calories}"></a><br>
    <a href="/dishes/history" th:text="#{title.dishes.history}"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:45px">
                    <div class="panel-heading" th:text="#{label.dish.add}">

                    </div>
                    <div class="panel-body">
                    <div th:text="#{label.select.dishes}"></div>
                        <form th:action = "@{/select_dishes}" th:object="${select_dish}" method="post">
                            <!--            <p th:if="${message}" class="alert alert-info" role="alert" th:text="'Dish already exists'"></p>-->
<!--                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">-->
                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden" required>

                            <div class="form-group">
                                <select  id="dish" th:field="*{dish_id}" name="dish">
<!--                                    <option value="">Select dishes</option>-->
                                    <option th:each="dish: ${dishes}"  th:value="${dish.id}"  th:text="${dish.name} + ${dish.user != null ? '(own)' :''}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select  id="portion" th:field="*{portion}" name="portion">
                                    <!--                                    <option value="">Select dishes</option>-->
                                    <option th:each="portion_: ${portions}"  th:value="${portion_.name()}"  th:text="#{${portion_.name()}}" ></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select  id="mealtime" th:field="*{mealtime}" name="mealtime">
                                    <!--                                    <option value="">Select dishes</option>-->
                                    <option th:each="mealtime_: ${mealtimes}"  th:value="${mealtime_.name()}"  th:text="#{${mealtime_.name()}}" ></option>
                                </select>
                            </div>
                            <div class="form-group" >
                                <label for="value" th:text="#{label.select.value}"></label>
                                <input type="number" class="form-control" id="value" name="value" th:placeholder="#{label.select.value}" th:field="*{value}" required>
                            </div>
                            <button type="submit" class="btn btn-outline-info" th:text="#{button.choose}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 th:text="#{title.selected.dishes}"></h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{label.dish.name}"></th>

            <th th:text="#{label.dish.protein}"></th>
            <th th:text="#{label.dish.calories}"></th>
            <th th:text="#{label.dish.fat}"></th>
            <th th:text="#{label.dish.carbs}"></th>
            <th>Value</th>
            <th>Portion</th>
        </tr>
        </thead>

        <div th:each="mealtime: ${mealtimes}">
            <thead>
                <tr>
                    <th th:text="${mealtime}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dish: ${special_dishes}" th:if="${dish.mealtime.equals(mealtime)}">
                    <td><span th:text="${dish.dish.name}"> </span></td>
                    <td><span th:text="${dish.dish.protein}">  </span></td>
                    <td><span th:text="${dish.dish.calories}"> </span></td>
                    <td><span th:text="${dish.dish.fat}">  </span></td>
                    <td><span th:text="${dish.dish.carbs}">  </span></td>
                    <td><span th:text="${dish.value}">  </span></td>
                    <td><span th:text="#{${dish.portion.name()}}">  </span></td>
                    <td><a th:href="@{/select_dishes/delete/{id}/{dish_id}(id=${dish.id}, dish_id=${dish.dish.id})}"> Delete </a></td>
                </tr>
            </tbody>
        </div>

        <thead>
            <tr>
                <th>Summary</th>
                <th><span th:text="${summary.protein}">  </span></th>
                <th><span th:text="${summary.calories}"> </span></th>
                <th><span th:text="${summary.fat}">  </span></th>
                <th><span th:text="${summary.carbs}">  </span></th>
            </tr>
        </thead>
    </table>

</div>

</div>
</body>
</html>