
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Users</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
</head>
<body>
<a href="?lang=en">en</a>
<a href="?lang=ru">ru</a>
<a href="/" th:text="#{label.home}"></a>
<div id = "all_users">
    <h2 th:text="#{title.all.dishes}"></h2>
</div>
<div id = "content">

    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{label.dish.name}"></th>

            <th th:text="#{label.dish.protein}"></th>
            <th th:text="#{label.dish.calories}"></th>
            <th th:text="#{label.dish.fat}"></th>
            <th th:text="#{label.dish.carbs}"></th>
        </tr>
        </thead>

        <tbody>

            <tr th:each="dish: ${dishes}">
            <td><span th:text="${dish.name}"> Id </span></td>

            <td><span th:text="${dish.protein}"> Password </span></td>
            <td><span th:text="${dish.calories}"> Active </span></td>
            <td><span th:text="${dish.fat}"> Roles </span></td>
            <td><span th:text="${dish.carbs}"> Roles </span></td>
            </tr>
        </tbody>
    </table>
    <a href="/calculate_calories" th:text="#{title.calculate.calories}"></a><br>
    <a href="/select_dishes/history" th:text="#{title.dishes.history}"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:45px">
                    <div class="panel-heading" th:text="#{label.dish.add}">

                    </div>
                    <div class="panel-body">
                    <div th:text="#{label.select.dishes}"></div>
                        <form th:action = "@{/select_dishes}" th:object="${select_dish}" method="post">
                            <!--            <p th:if="${message}" class="alert alert-info" role="alert" th:text="'Dish already exists'"></p>-->
<!--                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">-->

                            <div class="form-group">
                                <select id="user_dish" th:field="*{dish_id}">
<!--                                    <option value="">Select dishes</option>-->
                                    <option th:each="dish: ${dishes}"  th:value="${dish.id}"  th:text="${dish.name}"></option>
                                </select>
                            </div>
                            <div class="form-group" >
                                <label for="grams" th:text="#{label.select.grams}"></label>
                                <input type="number" class="form-control" id="grams" name="grams" th:placeholder="#{label.select.grams}" th:field="*{grams}" required>
                            </div>
                            <button type="submit" class="btn btn-default" th:text="#{button.choose}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 th:text="#{title.selected.dishes}"></h2>
    </div>
    <table class="table table-hover">
        <tbody>
        <tr th:each="dish: ${special_dishes}">
            <td><span th:text="${dish.name}"> </span></td>
            <td><span th:text="${dish.protein}">  </span></td>
            <td><span th:text="${dish.calories}"> </span></td>
            <td><span th:text="${dish.fat}">  </span></td>
            <td><span th:text="${dish.carbs}">  </span></td>
            <td><a th:href="@{/select_dishes/delete/{id}(id=${dish.id})}"  > Delete </a></td>
        </tr>
        </tbody>
    </table>



</div>
</body>
</html>