<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
    <link th:href="@{public/css/style.css}" th:rel="stylesheet">
</head>
<body >
<div class="bg" style="background-image: url('public/images/dark-bg3.jpg')">
    <div th:replace="/fragments/navbar"></div>
    <div>
        <h2 class="text-success" th:text="#{title.all.users}"></h2>
    </div>
    <div id = "content">
        <table class="table table-striped table-bordered table-hover table-dark"> <!--table table-hover-->
            <thead>
            <tr class="text-danger">
                <th scope="col" th:text="#{label.user.id}"></th>
                <th scope="col" th:text="#{label.login}"></th>
                <th scope="col" th:text="#{label.password}"></th>
                <th scope="col" th:text="#{label.user.active}"></th>
                <th scope="col" th:text="#{label.user.role}"></th>
                <th scope="col" th:text="#{label.user.age}"></th>
                <th scope="col" th:text="#{label.user.height}"></th>
                <th scope="col" th:text="#{label.user.weight}"></th>
                <th scope="col" th:text="#{label.user.lifestyle}"></th>
            </tr>
            </thead>

            <tbody>
<!--            <tr th:if="${users.empty}">-->
<!--                <td colspan="2" th:text="#{message.users.empty}"> </td>-->
<!--            </tr>-->
            <tr th:each="user: ${users}">
                <td><span th:text="${user.id}"> Id </span></td>
                <td><span th:text="${user.user.login}">Login </span></td>
                <td><span th:text="${user.user.password}"> Password </span></td>
                <td><span th:text="${user.user.active}"> Active </span></td>
                <td><span th:text="${user.user.getRole}"> Roles </span></td>
                <td><span th:text="${user?.age}"> Age </span></td>
                <td><span th:text="${user?.height}"> Height </span></td>
                <td><span th:text="${user?.weight}"> Weight </span></td>
                <td><span th:text="${user?.lifestyle}"> Lifestyle </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>